@layer ogds.components;

@layer ogds.components {
  .ogds-accordion,
  ogds-accordion {
    --ogds-accordion-border: 0.25rem solid var(--ogds-theme-color-base-lightest);
    --ogds-accordion-content-padding: 1rem 1.25rem calc(1rem - 0.25rem);
    --ogds-accordion-icon-closed: var(--icon-chevron-pointing-down);
    --ogds-accordion-icon-open: var(--icon-chevron-pointing-up);

    &.plus {
      --ogds-accordion-icon-closed: var(--icon-plus);
      --ogds-accordion-icon-open: var(--icon-minus);
    }

    --accordion-icon: var(--ogds-accordion-icon-closed);

    details {
      color: var(--ogds-theme-color-base-ink);
      margin-block-end: 0.5rem;
      margin-block-start: 0.5rem;

      &[open] {
        --accordion-icon: var(--ogds-accordion-icon-open);
      }
    }

    summary {
      background-color: var(--ogds-theme-color-base-lightest);
      font-weight: 700;
      padding: 1rem 1.25rem;

      &:hover {
        background-color: var(--ogds-color-gray-10);
      }

      /* TODO: extract this out */
      &:focus {
        outline: 0.25rem solid #2491ff;
      }
    }

    &.with-icon {
      summary {
        align-items: center;
        display: flex;

        &::marker {
          content: none;
        }

        &::before {
          background-color: currentColor;
          content: "";
          display: block;
          flex-shrink: 0;
          height: 1.25rem;
          mask-image: var(--accordion-icon);
          mask-position: center;
          mask-repeat: no-repeat;
          mask-size: contain;
          width: 1.5rem;
        }
      }
    }

    &.with-icon.right {
      summary::before {
        margin-inline-start: auto;
        order: 2;
      }
    }

    @supports selector(::details-content) {
      details[open]::details-content {
        padding: var(--ogds-accordion-content-padding);
      }

      &.bordered details[open]::details-content {
        border-block-end: var(--ogds-accordion-border);
        border-inline-end: var(--ogds-accordion-border);
        border-inline-start: var(--ogds-accordion-border);
      }
    }

    @supports not selector(::details-content) {
      .details-content {
        padding: var(--ogds-accordion-content-padding);
      }

      &.bordered .details-content {
        border-block-end: var(--ogds-accordion-border);
        border-inline-end: var(--ogds-accordion-border);
        border-inline-start: var(--ogds-accordion-border);
      }
    }
  }
}
