:host {
  display: block;
}

ul {
  padding-left: 1.5rem;
  list-style: none;
}

li {
  margin-block-end: 2rem;
  padding-block-end: 1.25rem;
  border-block-end: 2px solid var(--ogds-theme-color-base-lightest);
}

.heading {
  margin-block-end: 0.25rem;
}

.description {
  margin-block-end: 0.5rem;
  color: var(--ogds-theme-color-base);;
}

.completed {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  color: green;
}

.step[data-status="not-started"] {
    color: var(--ogds-theme-color-base);
  }


