:host {
  display: block;
}

ul {
  list-style: none;
  padding-left: 1.5rem;
}

li {
  border-block-end: 2px solid var(--ogds-theme-color-base-lightest);
  margin-block-end: 2rem;
  padding-block-end: 1.25rem;
}

.heading {
  margin-block-end: 0.25rem;
}

.description {
  color: var(--ogds-theme-color-base);
  margin-block-end: 0.5rem;
}

.completed {
  align-items: center;
  color: green;
  display: inline-flex;
  gap: 0.4rem;
}

.step[data-status="not-started"] {
  color: var(--ogds-theme-color-base);
}
