:host {
  display: block;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-block-end: 1.5rem;
}

.counter {
  color: var(--ogds-color-gray-90, #1b1b1b);
  font-family:
    "Source Sans Pro Web", "Helvetica Neue", Helvetica, Roboto, Arial,
    sans-serif;
  font-size: 2.125rem;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  padding-block-start: 1rem;
}

::slotted(*) {
  margin-block: 0;
}

.steps {
  border-block-end: 1px solid
    var(--ogds-task-list-border-color, var(--ogds-color-gray-50, #757575));
  list-style: none;
  margin: 0;
  padding: 0;
}
